@import '../../styles/mixin';
@import '../../styles/colors';

.tips-value__fixed input[type='radio'] {
  display: none;
}

.tips {
  margin-top: 20px;
  &__header {
    @include custom-header();
  }

  &__total {
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: $color-dark-cyan;
    &--span {
      color: $dark-grayish-cyan;
      font-weight: bold;
      font-size: 12px;
    }
  }
}

.tips-value {
  &__fixed {
    &--span {
      display: inline-block;
      text-align: center;
      width: 125px;
      padding: 6px 20px;
      border-radius: 5px;
      margin: 10px;
      color: white;
      flex-grow: 1;
      font-size: 20px;
      cursor: pointer;
      font-weight: 700;
      background-color: $color-dark-cyan;

      &:hover {
        color: $color-dark-cyan;
        background-color: $strong-cyan;
      }
      @media (min-width: 480px) {
        width: 180px;
      }
      @media (min-width: 560px) {
        width: 220px;
      }
      @media (min-width: 660px) {
        width: 180px;
      }
      @media (min-width: 768px) {
        width: 110px;
      }
      @media (min-width: 1080px) {
        width: 150px;
      }
      @media (min-width: 1080px) {
        width: 170px;
      }
    }
  }
  &__custom {
    width: 125px;
    height: 41px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    flex-grow: 1;
    background-color: #8eb4a8;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: $color-dark-cyan;

    &:focus {
      border: 2px solid $strong-cyan;
    }
    &:active {
      border: 2px solid $strong-cyan;
    }
    @media (min-width: 480px) {
      width: 180px;
    }
    @media (min-width: 560px) {
      width: 220px;
    }
    @media (min-width: 660px) {
      width: 180px;
    }
    @media (min-width: 768px) {
      width: 110px;
    }
    @media (min-width: 1080px) {
      width: 170px;
    }

    &::placeholder {
      color: $color-dark-cyan;
    }
  }
}

.tips-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
