@import './component/TipsFormContainer/tipsFormContainer';
@import './component/inputForm/inputForm';
@import './component/amountCount/amountCount';
@import './component/brandImage/brandImage';
@import './styles/colors';
@import './styles/mixin';

.container {
  background-color: $ligth-grayish-white-cyan;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    height: 100vh;
  }
}

.main-container {
  background-color: $light-grayish-cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    display: flex;

    justify-content: center;
    padding: 5%;
  }
}

.main {
  background-color: $ligth-grayish-white-cyan;
  padding: 30px;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  @media (min-width: 768px) {
    display: flex;
    max-width: 1280px;
  }
}

.total-people {
  margin-top: 20px;
  position: relative;
  &__number {
    @include custom-header();
  }
  &__icon {
    position: absolute;
    top: 45px;
    left: 12px;
  }
  &__input {
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    padding-left: 40px;
    color: $dark-grayish-cyan-plus;
    font-weight: 700;
    border: transparent;
    border-radius: 5px;
    margin-top: 10px;
    &:focus {
      border: 2px solid $strong-cyan;
    }
    &:active {
      border: 2px solid $strong-cyan;
    }
  }
}

.tip-container {
  padding: 20px;
  width: 100%;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  &__amount {
    &--calc {
      @include tip-header();
    }
    &--person {
      color: $dark-grayish-cyan;
    }
  }
  &__bill {
    &--value {
      color: $strong-cyan;
    }
  }
}

.reset__button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: $color-dark-cyan;
  font-weight: 700;
  background-color: $strong-cyan;
  border-radius: 5px;
  border-color: transparent;

  &:hover {
    background-color: $light-grayish-cyan;
  }
}

.custom {
  @media (min-width: 768px) {
    width: 48%;
    margin-right: 2%;
  }
}

.dynamic {
  background-color: $color-dark-cyan;
  border-radius: 10px;
  margin-top: 30px;
  @media (min-width: 768px) {
    width: 48%;
    margin-left: 2%;
    display: flex;
    margin-top: 10px;
  }
}
