//can be added to seperate file _colors.scss
$strong-cyan: #26c0ab;
$color-dark-cyan: #00494d;
$dark-grayish-cyan-plus: #528489;
$dark-grayish-cyan: #769698;
$light-grayish-cyan: #c5e4e7;
$ligth-grayish-white-cyan: #f4fafa;

//can be added in seperate file _mixin.scss
@mixin custom-header {
  color: $dark-grayish-cyan;
  font-size: 16px;
}

@mixin tip-header {
  color: $ligth-grayish-white-cyan;
  font-size: 16px;
}

.container {
  background-color: $ligth-grayish-white-cyan;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    height: 100vh;
  }
}

.main-container {
  background-color: $light-grayish-cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    display: flex;

    justify-content: center;
    padding: 5%;
  }
}

.brand {
  margin: 5vh 0 3vh 0;
  @media (min-width: 768px) {
    margin: 0;
    margin-bottom: 50px;
  }
}

.main {
  background-color: $ligth-grayish-white-cyan;
  padding: 30px;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  @media (min-width: 768px) {
    display: flex;
    max-width: 1280px;

    height: 50vh;
  }
  // border-radius: 30px;
}

.bill {
  &__header {
    @include custom-header();
  }
  &__value {
    position: relative;
    display: flex;

    &--input {
      margin-top: 5px;
      background-color: #efefef;
      border: none;
      height: 40px;
      align-self: flex-end;
      width: 100%;
      padding: 0 25px;
      color: $dark-grayish-cyan-plus;
      font-weight: 700;
      font-size: 16px;
      border-radius: 5px;
      &:focus {
        border: 2px solid $strong-cyan;
      }
      &:active {
        border: 2px solid $strong-cyan;
      }
    }
    &--dollar {
      position: absolute;
      top: 17px;
      left: 10px;
    }
  }
}

.tips {
  &__header {
    @include custom-header();
    margin-top: 20px;
  }
  &__value {
    display: flex;
    flex-wrap: wrap;
    &--fixed {
      width: 125px;
      text-align: center;
      padding: 6px 20px;
      border-radius: 5px;
      margin: 10px;
      color: white;
      flex-grow: inherit;
      font-size: 20px;
      cursor: pointer;
      font-weight: 700;
      background-color: $color-dark-cyan;
      &:hover {
        color: $color-dark-cyan;
        background-color: $strong-cyan;
      }
      @media (min-width: 480px) {
        width: 180px;
      }
      @media (min-width: 560px) {
        width: 220px;
      }
      @media (min-width: 660px) {
        width: 250px;
      }
      @media (min-width: 768px) {
        width: 110px;
      }
    }

    &--custom {
      width: 125px;
      height: 41px;
      margin: 10px;
      border-radius: 5px;
      border: none;
      background-color: #8eb4a8;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: $color-dark-cyan;
      &:focus {
        border: 2px solid $strong-cyan;
      }
      &:active {
        border: 2px solid $strong-cyan;
      }
      @media (min-width: 480px) {
        width: 180px;
      }
      @media (min-width: 560px) {
        width: 220px;
      }
      @media (min-width: 660px) {
        width: 250px;
      }
      @media (min-width: 768px) {
        width: 110px;
      }

      &::placeholder {
        color: $color-dark-cyan;
      }
    }
  }
}

.total-people {
  margin-top: 20px;
  position: relative;
  &__number {
    @include custom-header();
  }
  &__icon {
    position: absolute;
    top: 45px;
    left: 12px;
  }
  &__input {
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    padding-left: 40px;
    color: $dark-grayish-cyan-plus;
    font-weight: 700;
    border: transparent;
    border-radius: 5px;
    margin-top: 10px;
    &:focus {
      border: 2px solid $strong-cyan;
    }
    &:active {
      border: 2px solid $strong-cyan;
    }
  }
}

.tip-container {
  padding: 20px;
  width: 100%;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.individual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  &__tip {
    &--amount {
      @include tip-header();
    }
    &--person {
      color: $dark-grayish-cyan;
    }
  }
  &__amount {
    color: $strong-cyan;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  &__amount {
    &--calc {
      @include tip-header();
    }
    &--person {
      color: $dark-grayish-cyan;
    }
  }
  &__bill {
    &--value {
      color: $strong-cyan;
    }
  }
}

.reset {
  &__button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: $color-dark-cyan;
    font-weight: 700;
    background-color: $strong-cyan;
    border-radius: 5px;
    border-color: transparent;

    &:hover {
      background-color: $light-grayish-cyan;
    }
  }
}

.custom {
  @media (min-width: 768px) {
    width: 48%;
    margin-right: 2%;
  }
}

.dynamic {
  background-color: $color-dark-cyan;
  border-radius: 10px;
  margin-top: 30px;
  @media (min-width: 768px) {
    width: 48%;
    margin-left: 2%;
    display: flex;
  }
}
