.bill {
  &__input {
    display: flex;
    justify-content: space-between;
    &--header {
      color: $dark-grayish-cyan;
      font-size: 12px;
    }
    &--hidden {
      display: block;
      font-size: 10px;
      color: orangered;
    }
  }

  &__value {
    position: relative;
    display: flex;
    &--input {
      margin-top: 5px;
      background-color: #efefef;
      border: 2px solid transparent;
      height: 40px;
      text-align: end;
      width: 100%;
      padding: 0 25px;
      color: $dark-grayish-cyan-plus;
      font-weight: 700;
      font-size: 16px;
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
      &:focus {
        border: 2px solid $strong-cyan;
      }
      &:active {
        border: 2px solid $strong-cyan;
      }
    }
    &--dollar {
      position: absolute;
      top: 17px;
      left: 10px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.red-border {
  &:focus {
    border: 2px solid red;
  }
  &:active {
    border: 2px solid red;
  }
}
